<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand title" href="/">NetflixPoly</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a *ngIf="route.includes('/admin-dashboard') " class="nav-item nav-link active" routerLink="/admin-dashboard/member">Members</a>
        <a *ngIf="route.includes('/admin-dashboard') " class="nav-item nav-link active" routerLink="/admin-dashboard/movie">Movies</a>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
