<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand title" href="/">NetflixPoly</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/member">Members</a>
      </div>
    </div>
  </nav>

<div style="text-align:center">
<div *ngIf="route == '/dashboard'"> <!-- to recheck route after-->
  <button type="button" class="btn btn-danger" (click) ="createDB()">Create Database</button>
</div>

<router-outlet></router-outlet>
