<button  type="button" style="margin-left: 0.5em;" *ngIf='!newMovie' class="btn btn-primary" (click)="goBack()">Accueil</button>
<button style="margin-left: 1em;" type="button" *ngIf='!newMovie && !modifyingMovie' class="btn btn-primary" (click)="this.newMovie = true">Nouveau Film</button>

<div *ngIf='!newMovie && !modifyingMovie'>
  <div style="text-align: center">
    <h1>Films Existants</h1>
    <table id ="member" align="center" border="1" width="900">
      <thead>
        <th> ID</th>
        <th> TITRE</th>
        <th> DATE DE PRODUCTION </th>
        <th> DURÉE </th>
        <th> GENRE </th>
        <th>  </th>
        </thead>
        <tbody>
        <tr *ngFor="let movie of movies">
          <td> {{movie.numero}} </td>
          <td> {{movie.titre}}</td>
          <td> {{movie.date_production}}</td>
          <td> {{movie.duree_totale}}</td>
          <td> {{movie.genre}}</td>
          <td> <button style="margin-left: 0.5em; background-color: #71bb54;" (click)="modifyMovie(movie.numero)">Modifier</button>
          <button style="background-color: #ee675d; margin-left: 0.5em;" (click)="deleteMovie(movie.numero)">Supprimer</button></td> 
        </tr>
        </tbody>
    </table>
  </div>
</div>

<div *ngIf='newMovie' style="margin-left: 3em;">
  <h1>Nouveau Film</h1>
  <form [formGroup]="this.newMovieValUser">
    <label>Titre </label>
    <input formControlName="titre" class="form-control col-md-4">
    <div *ngIf="this.newMovieValUser.get('titre').errors && (this.newMovieValUser.get('titre').dirty || this.newMovieValUser.get('titre').touched)" >
        <mat-error *ngIf="this.newMovieValUser.get('titre').hasError('required')">Champ obligatoire</mat-error>
        <mat-error *ngIf="this.newMovieValUser.controls['titre'].hasError('maxlength')">Titre trop long!</mat-error>
    </div>
  
    <label>Date de production (AAAA-MM-JJ)</label>
    <input formControlName="date_production" class="form-control col-md-4">
    <div *ngIf="this.newMovieValUser.get('date_production').errors && (this.newMovieValUser.get('date_production').dirty || this.newMovieValUser.get('date_production').touched)">
        <mat-error *ngIf="this.newMovieValUser.get('date_production').hasError('required')">Champ obligatoire</mat-error>
        <mat-error *ngIf="this.newMovieValUser.controls['date_production'].hasError('pattern')"> SVP Veuillez respecter le format pour la date</mat-error>
    </div>
  
    <label>Durée totale (minutes)</label>
    <input formControlName="duree_totale" class="form-control col-md-4">
    <div *ngIf="this.newMovieValUser.get('duree_totale').errors && (this.newMovieValUser.get('duree_totale').dirty || this.newMovieValUser.get('duree_totale').touched)">
        <mat-error *ngIf="this.newMovieValUser.get('duree_totale').hasError('required')"> Champ obligatoire</mat-error>
        <mat-error *ngIf="this.newMovieValUser.controls['duree_totale'].hasError('pattern')"> SVP Veuillez n'utiliser que des chiffres</mat-error>
        <mat-error *ngIf="this.newMovieValUser.controls['duree_totale'].hasError('maxlength') || this.newMovieValUser.controls['duree_totale'].hasError('minlength')"> Durée trop longue!</mat-error>
    </div>
  
    <label>Genre</label>
    <input formControlName="genre" class="form-control col-md-4">
    <div *ngIf="this.newMovieValUser.get('genre').errors && (this.newMovieValUser.get('genre').dirty || this.newMovieValUser.get('genre').touched)" >
        <mat-error *ngIf="this.newMovieValUser.get('genre').hasError('required')"> Champ obligatoire</mat-error>
        <mat-error *ngIf="this.newMovieValUser.controls['genre'].hasError('maxlength')">Genre trop long!</mat-error>
    </div>
  
    <label>Prix</label>
    <input formControlName="prix" class="form-control col-md-4">
    <div *ngIf="this.newMovieValUser.get('prix').errors && (this.newMovieValUser.get('prix').dirty || this.newMovieValUser.get('prix').touched)" >
        <mat-error *ngIf="this.newMovieValUser.get('prix').hasError('required')"> Champ obligatoire</mat-error>
        <mat-error *ngIf="this.newMovieValUser.controls['prix'].hasError('pattern')"> SVP Veuillez n'utiliser que des chiffres</mat-error>
    </div>
  </form>
  
  <button type="button" class="btn btn-primary" [disabled]="!newMovieValUser.valid" (click)="insertMovie()"> Ajouter</button>
  <button style="margin-left: 1em;" type="button" class="btn btn-primary" (click)="cancel()">Annuler</button>

</div>

<div *ngIf='modifyingMovie' style="margin-left: 3em;">
  <h1>Modifications</h1>
  <form [formGroup]="this.modifyMovieValUser">
    <label>Titre </label>
    <input formControlName="titre" class="form-control col-md-4" >
    <div *ngIf="this.modifyMovieValUser.get('titre').errors && (this.modifyMovieValUser.get('titre').dirty || this.modifyMovieValUser.get('titre').touched)" >
        <mat-error *ngIf="this.modifyMovieValUser.get('titre').hasError('required')">Champ obligatoire</mat-error>
        <mat-error *ngIf="this.modifyMovieValUser.controls['titre'].hasError('maxlength')">Titre trop long!</mat-error>
    </div>
  
    <label>Date de production (AAAA-MM-JJ)</label>
    <input formControlName="date_production" class="form-control col-md-4">
    <div *ngIf="this.modifyMovieValUser.get('date_production').errors && (this.modifyMovieValUser.get('date_production').dirty || this.modifyMovieValUser.get('date_production').touched)">
        <mat-error *ngIf="this.modifyMovieValUser.get('date_production').hasError('required')">Champ obligatoire</mat-error>
        <mat-error *ngIf="this.modifyMovieValUser.controls['date_production'].hasError('pattern')">SVP Veuillez respecter le format pour la date</mat-error>
    </div>
  
    <label>Durée totale (minutes)</label>
    <input formControlName="duree_totale" class="form-control col-md-4">
    <div *ngIf="this.modifyMovieValUser.get('duree_totale').errors && (this.modifyMovieValUser.get('duree_totale').dirty || this.modifyMovieValUser.get('duree_totale').touched)">
        <mat-error *ngIf="this.modifyMovieValUser.get('duree_totale').hasError('required')">Champ obligatoire</mat-error>
        <mat-error *ngIf="this.modifyMovieValUser.controls['duree_totale'].hasError('pattern')">SVP Veuillez n'utiliser que des chiffres</mat-error>
        <mat-error *ngIf="this.modifyMovieValUser.controls['duree_totale'].hasError('maxlength') || this.modifyMovieValUser.controls['duree_totale'].hasError('minlength')"> Longueur max: 3</mat-error>
    </div>
  
    <label>Genre</label>
    <input formControlName="genre" class="form-control col-md-4">
    <div *ngIf="this.modifyMovieValUser.get('genre').errors && (this.modifyMovieValUser.get('genre').dirty || this.modifyMovieValUser.get('genre').touched)" >
        <mat-error *ngIf="this.modifyMovieValUser.get('genre').hasError('required')">Champ obligatoire</mat-error>
        <mat-error *ngIf="this.modifyMovieValUser.controls['genre'].hasError('maxlength')"> Genre trop long!</mat-error>
    </div>
  
    <label>Prix</label>
    <input formControlName="prix" class="form-control col-md-4">
    <div *ngIf="this.modifyMovieValUser.get('prix').errors && (this.modifyMovieValUser.get('prix').dirty || this.modifyMovieValUser.get('prix').touched)" >
        <mat-error *ngIf="this.modifyMovieValUser.get('prix').hasError('required')">Champ obligatoire</mat-error>
        <mat-error *ngIf="this.modifyMovieValUser.controls['prix'].hasError('pattern')">SVP Veuillez n'utiliser que des chiffres</mat-error>
    </div>
  </form>
  
  <button type="button" class="btn btn-primary" [disabled]="!modifyMovieValUser.valid" style="background-color: #71bb54;" (click)="modifyMovieSubmit()">Modifier</button>
  <button style="margin-left: 1em;" type="button" class="btn btn-primary" (click)="cancel()">Annuler</button>
  
</div>
