<div class="row" class="col-sm-12 btn btn-primary">  
    Welcome to your DashBoard {{this.loggedInMember.nom}}
</div>  

<ng-template #content let-modal id=modal>
  <h1 mat-dialog-title > Movie </h1>

  <div mat-dialog-content>
    <h2>{{selectedMovie.titre | uppercase}} </h2>
    <div><span>id: </span>{{selectedMovie.numero}}</div>
  </div>
  
  <mat-dialog-actions align="end">
      <button mat-button > Watch </button>
      <button mat-button > Watch From Beginning </button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial> Close </button>
  </mat-dialog-actions>
</ng-template>

<ul class="heroes">
  <li *ngFor="let movie of movies"
    [class.selected]="movie === selectedMovie"
    (click)="openDialog(content, movie)">
    <span class="badge">{{movie.titre}} </span> 
    <table align="center"  pading-left='2em' width="80%">
      <tr>
        <th>PRODUCTION DATE</th>
        <td> {{movie.date_production}}</td>
      </tr>
      <tr>
        <th>TOTAL LENGTH</th>
        <td> {{movie.duree_totale}}</td>
      </tr>
      <tr>
        <th>GENRE</th>
        <td> {{movie.genre}}</td>
      </tr>      
    </table>
  </li>
</ul>