<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container" style="padding-top:60px;">  
    <div class="row">  
      <div class="col-md-6 mx-auto">  
        <div class="card-group">  
          <div class="card p-4">  
            <div class="card-body">  
              <form name="form" (ngSubmit)="login()" #f="ngForm">   
                <h1 style="text-align:center">Login</h1>  
            
                <div class="input-group mb-3">  
                  <div class="input-group-prepend">  
                    <span class="input-group-text"><mat-icon>person</mat-icon></span>  
                  </div>  
                  <input type="text" name="username" [(ngModel)]="loginInfo.username" class="form-control sty1" placeholder="Email" required>  
                </div>  

                <div class="input-group mb-4">  
                  <div class="input-group-prepend">  
                    <span class="input-group-text"><mat-icon>lock</mat-icon></span>  
                  </div>  
                  <input  type="password" name="Password" [(ngModel)]="loginInfo.password" class="form-control"  
                 placeholder="Password">  
                </div> 

                <form>
                  <div class="input-group mb-4">  
                    <div class="input-group-prepend">  
                      <span class="input-group-text"><mat-icon>account_circle</mat-icon></span>  
                    </div> 
                    <select matNativeControl [(ngModel)]="loginInfo.loginType" name="type" placeholder="Login type">
                      <option value="admin">Admin</option>
                      <option value="member">Member</option>
                    </select>
                  </div> 
                </form> 
                <div>  
                    <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">  
                      {{errorMessage}}  
                    </p>  
                  </div>  
                <div class="row">  
                  <div class="col-6">  
                    <button type="submit" class="btn btn-primary px-4">Login</button>  
                  </div>  
                </div>  
                  
              </form>  
            </div>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div>  