<button type="button" *ngIf='!newMember' class="btn btn-primary" (click)="goToDashboard()">Go to dashboard</button>
<button type="button" *ngIf='!newMember' class="btn btn-primary" (click)="this.newMember = true">Add New Member</button>

<div *ngIf='!newMember'>
  <div style="text-align: center">
    <h1>Existing Members</h1>
    <table id ="member" align="center" border="1" width="900">
        <thead>
        <th> ID</th>
        <th> NAME</th>
        <th> EMAIL </th>
        <th> ADDRESS </th>
        </thead>
        <tbody>
        <tr *ngFor="let member of members">
          <td> {{member.id_membre}} </td>
          <td> {{member.nom}}</td>
          <td> {{member.adr_courriel}}</td>
          <td> <i *ngIf=member.no_appart>{{member.no_appart}} -</i> {{member.no_rue}} {{member.nom_rue}}, {{member.ville}} {{member.code_postal}}, {{member.province}}, {{member.pays}}</td>
        </tr>
        </tbody>
    </table>
  </div>
</div>

<div *ngIf='newMember'>
<div id="member" style="text-align: left">
    <h1>Add Member</h1>
    <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
      Insertion sur une cle primaire qui existe deja
    </div>
      <ul style="list-style: none;">
        
        <!-- <label for="height" >Hauteur:
          <br>
          <input class="inputField" type="number" min="1" id="Height" placeholder="Entrez une valeur positive" formControlName="height" >
        </label> -->

        <!-- <label for="adr_courriel" >adresse courriel:
          <br>
          <input type="text" id="adr_courriel" placeholder="Entrez votre adresse courriel" formControlName="adr_courriel" >
        </label> -->


        <form [formGroup]="this.validatingInputFromUser">
    
          email: <li><input id = "adr_courriel" class="form-control col-md-4" placeholder="Entrez votre adresse courriel" formControlName="adr_courriel" #email></li>
       </form>


        <!--         <div *ngIf="adr_courriel.errors.required">
          adr_courriel is required.
        </div> -->
        password: <li><input class="form-control col-md-4" #password></li>
        streetName: <li><input class="form-control col-md-4" #streetName></li>
        apartmentNo: <li><input class="form-control col-md-4" #apartmentNo></li>
        streetNo: <li><input class="form-control col-md-4" #streetNo></li>
        zipCode: <li><input class="form-control col-md-4" #zipCode></li>
        city: <li><input class="form-control col-md-4" #city></li>
        province: <li><input class="form-control col-md-4" #province></li>
        country: <li><input class="form-control col-md-4" #country></li>
        memberName: <li><input class="form-control col-md-4" #memberName></li>
      <li><button type="button" class="btn btn-primary" (click)="insertMember(
        email.value, password.value, streetName.value, apartmentNo.value, streetNo.value,
        zipCode.value, city.value, province.value, country.value, memberName.value)" > Add Member</button></li>
        <li><button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button></li>

      </ul>
     
    </div>
</div>

    