<button type="button" *ngIf='!newMember' class="btn btn-primary" (click)="goToDashboard()">Go to dashboard</button>
<button type="button" *ngIf='!newMember' class="btn btn-primary" (click)="this.newMember = true">Add New Member</button>

<div *ngIf='!newMember'>
  <div style="text-align: center">
    <h1>Existing Members</h1>
    <table id ="member" align="center" border="1" width="900">
        <thead>
        <th> ID</th>
        <th> NAME</th>
        <th> EMAIL </th>
        <th> ADDRESS </th>
        </thead>
        <tbody>
        <tr *ngFor="let member of members">
          <td> {{member.id_membre}} </td>
          <td> {{member.nom}}</td>
          <td> {{member.adr_courriel}}</td>
          <td> <i *ngIf=member.no_appart>{{member.no_appart}} -</i> {{member.no_rue}} {{member.nom_rue}}, {{member.ville}} {{member.code_postal}}, {{member.province}}, {{member.pays}}</td>
        </tr>
        </tbody>
    </table>
  </div>
</div>

<div *ngIf='newMember'>
<div id="member" style="text-align: left">
    <h1>Add Member</h1>
    <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
      Insertion sur une cle primaire qui existe deja
    </div>
      <ul style="list-style: none;">
        
        <!-- <label for="height" >Hauteur:
          <br>
          <input class="inputField" type="number" min="1" id="Height" placeholder="Entrez une valeur positive" formControlName="height" >
        </label> -->

        <!-- <label for="adr_courriel" >adresse courriel:
          <br>
          <input type="text" id="adr_courriel" placeholder="Entrez votre adresse courriel" formControlName="adr_courriel" >
        </label> -->


        <form [formGroup]="this.validatingInputFromUser">
    
          email: <li><input id = "adr_courriel" class="form-control col-md-4" placeholder="ex. me@gemail.com" formControlName="adr_courriel" #email></li>
          <mat-error *ngIf="this.validatingInputFromUser.get('adr_courriel').hasError('email')"> Veuillez entrez une adresse valide</mat-error>
          <mat-error *ngIf="this.validatingInputFromUser.get('adr_courriel').hasError('required')"> Champs obligatoire</mat-error><br>

          password: <li><input id = "mot_de_passe" class="form-control col-md-4" placeholder="Password" formControlName="mot_de_passe" #password></li>
          <mat-error *ngIf="this.validatingInputFromUser.controls['mot_de_passe'].hasError('minlength')"> Doit etre d'un longueur minimun de 8</mat-error><br>
          <mat-error *ngIf="this.validatingInputFromUser.get('mot_de_passe').hasError('required')"> Champs obligatoire</mat-error><br>

          streetName: <li><input id = "nom_rue" class="form-control col-md-4" formControlName="nom_rue" #streetName></li>
          <mat-error *ngIf="this.validatingInputFromUser.get('nom_rue').hasError('required')"> Champs obligatoire</mat-error><br>
          <mat-error *ngIf="this.validatingInputFromUser.controls['nom_rue'].hasError('maxlength') || this.validatingInputFromUser.controls['nom_rue'].hasError('pattern')"> Invalid entry</mat-error><br>

          apartmentNo: <li><input id = "no_appart" class="form-control col-md-4" formControlName="no_appart" #apartmentNo></li>
          <mat-error *ngIf="this.validatingInputFromUser.get('no_appart').hasError('required')"> Champs obligatoire</mat-error><br>
          <mat-error *ngIf="this.validatingInputFromUser.controls['no_appart'].hasError('pattern')"> Invalid entry</mat-error><br>
          
          zipCode: <li><input id = "code_postal" class="form-control col-md-4" formControlName="code_postal"  #zipCode></li>
          <mat-error *ngIf="this.validatingInputFromUser.controls['code_postal'].hasError('pattern')"> Invalid entry</mat-error><br>
          city: <li><input class="form-control col-md-4" #city></li>
          <mat-error *ngIf="this.validatingInputFromUser.get('ville').hasError('required')"> Champs obligatoire</mat-error><br>
          province: <li><input class="form-control col-md-4" #province></li>
          country: <li><input class="form-control col-md-4" #country></li>
          <mat-error *ngIf="this.validatingInputFromUser.get('pays').hasError('required')"> Champs obligatoire</mat-error><br>
          memberName: <li><input class="form-control col-md-4" #memberName></li>
          <mat-error *ngIf="this.validatingInputFromUser.get('nom').hasError('required')"> Champs obligatoire</mat-error><br>

       </form>
      <li><button type="button" class="btn btn-primary" (click)="insertMember(
        email.value, password.value, streetName.value, apartmentNo.value, streetNo.value,
        zipCode.value, city.value, province.value, country.value, memberName.value)" > Add Member</button></li>
        <li><button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button></li>

      </ul>
     
    </div>
</div>

    